Repository BRAVO68WEB/shx, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, dashboard, discord, documentation, github-actions, github-meta, dependencies

Added SHX banner
  README.md
Labels: none

added modal component
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Modal.tsx
  packages/dashboard/package.json
  yarn.lock
Labels: dashboard, dependencies

upload modal done
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Modal.tsx
Labels: dashboard

updated modal component for upload
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
Labels: dashboard

updated components
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Lists/UploadsList/UploadsControls.tsx
  packages/dashboard/components/Lists/UploadsList/index.tsx
Labels: dashboard

added another test data
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
Labels: dashboard

removed warnings
  .eslintrc
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Modal.tsx
  packages/dashboard/components/Notes.tsx
Labels: dashboard

removed warnings
  packages/dashboard/components/Notes.tsx
Labels: dashboard

started with api keys
  packages/dashboard/app/(dashboard)/dashboard/apiKeys/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/notes/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/uploads/page.tsx
Labels: dashboard

added api keys section
  packages/dashboard/app/(dashboard)/dashboard/apiKeys/page.tsx
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
  packages/dashboard/lib/sidebar.ts
Labels: dashboard

fixed button
  packages/dashboard/app/(dashboard)/dashboard/apiKeys/page.tsx
Labels: dashboard

removed unused imports
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
Labels: dashboard

added test data
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
Labels: dashboard

lint: fixes
  .eslintrc
Labels: none

added new page
  packages/dashboard/app/(dashboard)/dashboard/url/page.tsx
  packages/dashboard/components/Lists/ShortenUrlList/URLControls.tsx
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
  packages/dashboard/components/ui/Input.tsx
  packages/dashboard/lib/sidebar.ts
Labels: dashboard

removed build error
  packages/dashboard/components/Lists/ShortenUrlList/URLControls.tsx
Labels: dashboard

removed unused variables warnings
  packages/dashboard/app/(dashboard)/dashboard/url/page.tsx
  packages/dashboard/components/Lists/ShortenUrlList/URLControls.tsx
Labels: dashboard

removed next image warnings
  packages/dashboard/.eslintrc.json
Labels: dashboard

removed security vernability related to a tag
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
Labels: dashboard

setup utilitites
  packages/dashboard/app/(dashboard)/dashboard/utilities/download-config/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/instance-info/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/layout.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
Labels: dashboard

setup instance info
  packages/dashboard/app/(dashboard)/dashboard/utilities/instance-info/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
Labels: dashboard

added a taginput component
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
  packages/dashboard/components/TagInput.tsx
  packages/dashboard/components/ui/Input.tsx
  yarn.lock
Labels: dashboard, dependencies

completed settings page
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
Labels: dashboard

modified tag input to clear input box
  packages/dashboard/components/TagInput.tsx
Labels: dashboard

modified tag input to avoid adding empty tags
  packages/dashboard/components/TagInput.tsx
Labels: dashboard

Update FUNDING.yml
  .github/FUNDING.yml
Labels: github-meta

chores fixes
  .vscode/settings.json
  packages/discord/src/events/message-create.ts
  sonar-project.properties
Labels: discord

removed warnings and unused variables
  packages/dashboard/app/(dashboard)/dashboard/utilities/layout.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
Labels: dashboard

Update CODEOWNERS
  .github/CODEOWNERS
Labels: github-meta

updated dashboard config
  packages/dashboard/lib/sidebar.ts
Labels: dashboard

updated instance info ui
  packages/dashboard/app/(dashboard)/dashboard/utilities/instance-info/page.tsx
  packages/dashboard/lib/sidebar.ts
Labels: dashboard

finished config download ui
  packages/dashboard/app/(dashboard)/dashboard/utilities/download-config/page.tsx
Labels: dashboard

updated ui to use maps
  packages/dashboard/app/(dashboard)/dashboard/utilities/download-config/page.tsx
Labels: dashboard

api sdk setup
  packages/dashboard/api/index.ts
  packages/dashboard/api/uploads.ts
  packages/dashboard/app/(dashboard)/dashboard/uploads/page.tsx
  packages/dashboard/app/layout.tsx
  packages/dashboard/types/uploads.d.ts
Labels: dashboard

updated api sdk to use custom configs
  packages/dashboard/api/index.ts
  packages/dashboard/app/layout.tsx
Labels: dashboard

fixed errors
  packages/dashboard/api/index.ts
  packages/dashboard/app/(dashboard)/dashboard/uploads/page.tsx
Labels: dashboard

removed unused imports
  packages/dashboard/api/index.ts
Labels: dashboard

removed unnecessary catch block
  packages/dashboard/api/uploads.ts
Labels: dashboard

integrated get all uploads
  packages/dashboard/api/uploads.ts
  packages/dashboard/app/(dashboard)/dashboard/uploads/error.tsx
  packages/dashboard/app/(dashboard)/dashboard/uploads/page.tsx
  packages/dashboard/app/layout.tsx
  packages/dashboard/components/Lists/UploadsList/GridList.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Lists/UploadsList/index.tsx
  packages/dashboard/types/list.ts
Labels: dashboard

integrated uploads delete api
  packages/dashboard/api/index.ts
  packages/dashboard/api/uploads.ts
  packages/dashboard/app/layout.tsx
  packages/dashboard/components/Lists/UploadsList/GridList.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Lists/UploadsList/UploadsControls.tsx
  packages/dashboard/components/Lists/UploadsList/index.tsx
  packages/dashboard/package.json
  packages/dashboard/types/list.ts
  yarn.lock
Labels: dashboard, dependencies

.github/labeler.yml:

api:
- packages/api/**/*

cli:
- packages/cli/**/*

dashboard:
- packages/dashboard/**/*

discord:
- packages/discord/**/*

documentation:
- docs

github-actions:
- .github/workflows/*

github-meta:
- .github/**/*

dependencies:
- package.json
- yarn.lock
- packages/*/package.json
