Repository BRAVO68WEB/shx, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, dashboard, discord, documentation, github-actions, github-meta, dependencies

.github/labeler.yml:

api:
- packages/api/**/*

cli:
- apps/cli/**/*

dashboard:
- apps/web/**/*

discord:
- apps/discord/**/*

documentation:
- docs

github-actions:
- .github/workflows/*

github-meta:
- .github/**/*

dependencies:
- package.json
- yarn.lock
- packages/*/package.json

Update README.md
  README.md
Labels: none

mod: switch to pnpm
  packages/api/index.ts
  packages/api/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Labels: api, dependencies

feat: switch to Hono api
  packages/api/controllers/apikey.controller.ts
  packages/api/controllers/config.controller.ts
  packages/api/controllers/gists.controller.ts
  packages/api/controllers/info.controller.ts
  packages/api/controllers/sxcu.controller.ts
  packages/api/controllers/upload.controller.ts
  packages/api/controllers/urlstore.controller.ts
  packages/api/helpers/index.ts
  packages/api/index.ts
  packages/api/interfaces/apikey.interface.d.ts
  packages/api/interfaces/config.interface.d.ts
  packages/api/interfaces/gists.interface.d.ts
  packages/api/interfaces/sxcu.interface.d.ts
  packages/api/interfaces/upload.interface.d.ts
  packages/api/interfaces/urlstore.interface.d.ts
  packages/api/libs/customErrHandler.ts
  packages/api/libs/middleware.ts
  packages/api/middlewares/apikey_check.ts
  packages/api/package.json
  packages/api/routes/apikey.routes.ts
  packages/api/routes/config.routes.ts
  packages/api/routes/gist.routes.ts
  packages/api/routes/index.ts
  packages/api/routes/info.routes.ts
  packages/api/routes/settings.routes.ts
  packages/api/routes/upload.routes.ts
  packages/api/routes/url.routes.ts
  packages/api/validators/apikey.validation.ts
  packages/api/validators/gist.validation.ts
  packages/api/validators/settings.validation.ts
  packages/api/validators/upload.validation.ts
  packages/api/validators/url.validation.ts
  pnpm-lock.yaml
Labels: api, dependencies

feat: mig to turbo repo
  .env.example
  package.json
  packages/api/package.json
  pnpm-lock.yaml
  turbo.json
Labels: api, dependencies

feat: mig to full cf wrangler api workers
  package.json
  packages/api/.gitignore
  packages/api/controllers/config.controller.ts
  packages/api/controllers/gists.controller.ts
  packages/api/controllers/info.controller.ts
  packages/api/controllers/upload.controller.ts
  packages/api/helpers/cache.factory.ts
  packages/api/helpers/gql_clent.ts
  packages/api/helpers/index.ts
  packages/api/helpers/upload.factory.ts
  packages/api/index.ts
  packages/api/init-config.sh
  packages/api/interfaces/config.interface.d.ts
  packages/api/interfaces/upload.interface.d.ts
  packages/api/libs/utilities.ts
  packages/api/package.json
  packages/api/routes/index.ts
  packages/api/routes/info.routes.ts
  packages/api/routes/settings.routes.ts
  packages/api/routes/upload.routes.ts
  packages/api/secrets.json.example
  packages/api/services/config.service.ts
  packages/api/services/info.service.ts
  packages/api/services/upload.service.ts
  packages/api/tsconfig.json
  packages/api/types/index.d.ts
  packages/api/wrangler.toml
  pnpm-lock.yaml
Labels: api, dependencies

[CodeFactor] Apply fixes to commit 61df1cb
  packages/api/services/config.service.ts
Labels: api

Update build-discord-bot.yaml
  .github/workflows/build-discord-bot.yaml
Labels: github-actions, github-meta

Update build-api.yaml
  .github/workflows/build-api.yaml
Labels: github-actions, github-meta

Update build-cli.yaml
  .github/workflows/build-cli.yaml
Labels: github-actions, github-meta

Update build-dashboard.yaml
  .github/workflows/build-dashboard.yaml
Labels: github-actions, github-meta

Potential fix for code scanning alert no. 135: Workflow does not contain permissions
  .github/workflows/wiki-docs-sync.yaml
Labels: github-actions, github-meta

Potential fix for code scanning alert no. 130: Workflow does not contain permissions
  .github/workflows/auto-tag-pr.yaml
Labels: github-actions, github-meta
