Repository BRAVO68WEB/shx, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, dashboard, discord, documentation, github-actions, github-meta, dependencies

.github/labeler.yml:

api:
- packages/api/**/*

cli:
- packages/cli/**/*

dashboard:
- packages/dashboard/**/*

discord:
- packages/discord/**/*

documentation:
- docs

github-actions:
- .github/workflows/*

github-meta:
- .github/**/*

dependencies:
- package.json
- yarn.lock
- packages/*/package.json

removed unused variables
  packages/dashboard/app/layout.tsx
Labels: dashboard

changed function name
  packages/dashboard/app/(dashboard)/dashboard/uploads/error.tsx
Labels: dashboard

Fixes #90
  packages/api/services/gist.service.ts
  packages/api/validators/gist.validation.ts
Labels: api

removed console logs
  packages/api/services/gist.service.ts
Labels: api

integrated search api in uploads
  packages/dashboard/api/notes.ts
  packages/dashboard/api/uploads.ts
  packages/dashboard/components/Lists/UploadsList/UploadsControls.tsx
  packages/dashboard/components/Lists/UploadsList/index.tsx
  packages/dashboard/hooks/useDebounce.ts
Labels: dashboard

integrated add note api and started with get all notes api
  packages/dashboard/api/index.ts
  packages/dashboard/api/notes.ts
  packages/dashboard/components/Lists/NotesList/index.tsx
  packages/dashboard/components/Notes.tsx
  packages/dashboard/lib/validators/notes.ts
  packages/dashboard/types/notes.d.ts
Labels: dashboard

integrated get all notes api
  packages/dashboard/app/(dashboard)/dashboard/notes/error.tsx
  packages/dashboard/app/(dashboard)/dashboard/notes/page.tsx
Labels: dashboard

fixed add note
  packages/dashboard/api/notes.ts
  packages/dashboard/components/Notes.tsx
  packages/dashboard/lib/validators/notes.ts
Labels: dashboard

integrated delete note api
  packages/dashboard/api/notes.ts
  packages/dashboard/components/Lists/NotesList/index.tsx
  packages/dashboard/components/Notes.tsx
Labels: dashboard

removed search icon
  packages/dashboard/components/Notes.tsx
Labels: dashboard

updated
  packages/dashboard/components/Notes.tsx
Labels: dashboard

updated api sdk
  packages/dashboard/api/apiKeys.ts
  packages/dashboard/api/index.ts
  packages/dashboard/api/notes.ts
  packages/dashboard/api/url.ts
  packages/dashboard/app/(dashboard)/dashboard/apiKeys/error.tsx
  packages/dashboard/app/(dashboard)/dashboard/apiKeys/page.tsx
  packages/dashboard/components/Notes.tsx
Labels: dashboard

integrated get shortened urls and add new shortened url
  packages/dashboard/api/url.ts
  packages/dashboard/app/(dashboard)/dashboard/url/page.tsx
  packages/dashboard/components/Lists/ShortenUrlList/URLControls.tsx
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
  packages/dashboard/types/url.d.ts
Labels: dashboard

integrated edit url api
  packages/dashboard/api/url.ts
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
Labels: dashboard

updated api sdk
  packages/dashboard/api/index.ts
  packages/dashboard/api/settings.ts
  packages/dashboard/app/(dashboard)/dashboard/utilities/layout.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/error.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
  packages/dashboard/types/settings.d.ts
Labels: dashboard

feat: Added API Key last used attribute in API
  packages/api/dbdump/dump.sql
  packages/api/graphql/schema.graphql
  packages/api/graphql/types.ts
  packages/api/libs/utilities.ts
  packages/api/package.json
  packages/api/services/apikey.service.ts
  yarn.lock
Labels: api, dependencies

feat: use zod to read and parse config
  packages/api/configs/index.ts
  packages/api/data/uploader.service.ts
  packages/api/helpers/cache.factory.ts
  packages/api/helpers/gql_clent.ts
  packages/api/index.ts
  packages/api/interfaces/config.interface.d.ts
  packages/api/libs/middleware.ts
  packages/api/package.json
  packages/api/services/apikey.service.ts
  packages/api/services/upload.service.ts
  yarn.lock
Labels: api, dependencies

chore(bump): update dependencies
  package.json
  yarn.lock
Labels: dependencies

fix: Cli build fixes
  packages/cli/tsconfig.json
Labels: cli

integrated get settings
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
Labels: dashboard

integrated update settings
  packages/dashboard/api/settings.ts
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
Labels: dashboard

fixed settings input change
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
Labels: dashboard

integrated delete urls
  packages/dashboard/api/url.ts
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
Labels: dashboard

fix: validation error status codes
  packages/api/validators/apikey.validation.ts
  packages/api/validators/gist.validation.ts
  packages/api/validators/settings.validation.ts
  packages/api/validators/upload.validation.ts
  packages/api/validators/url.validation.ts
Labels: api

completed integrations
  packages/dashboard/api/apiKeys.ts
  packages/dashboard/api/index.ts
  packages/dashboard/app/page.tsx
  packages/dashboard/components/ComingSoon.tsx
  packages/dashboard/components/LoginForm.tsx
  packages/dashboard/lib/validators/login.ts
  packages/dashboard/package.json
  yarn.lock
Labels: dashboard, dependencies

added redirect after login
  packages/dashboard/components/LoginForm.tsx
Labels: dashboard

integrated get all api keys and disable key endpoint
  packages/dashboard/api/apiKeys.ts
  packages/dashboard/api/index.ts
  packages/dashboard/app/(dashboard)/dashboard/apiKeys/page.tsx
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
  packages/dashboard/types/apiKey.d.ts
Labels: dashboard

updated url tables
  packages/dashboard/app/(dashboard)/dashboard/uploads/error.tsx
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
Labels: dashboard

removed unused logs and variables
  packages/dashboard/app/(dashboard)/dashboard/uploads/error.tsx
Labels: dashboard

removed unused variable from dashboard layout
  packages/dashboard/app/(dashboard)/dashboard/utilities/layout.tsx
Labels: dashboard

remove non null assertion in url edit modal
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
Labels: dashboard

removed unused variables From notes
  packages/dashboard/components/Notes.tsx
Labels: dashboard

👷 fixing apikey revoke server crash
  packages/api/controllers/apikey.controller.ts
Labels: api

removed redundant 'await' on a non-promise
  packages/dashboard/components/Lists/ShortenUrlList/URLControls.tsx
Labels: dashboard

removed promise returned on a void warning
  packages/dashboard/hooks/useDebounce.ts
Labels: dashboard

Added redirect to / without login 🔓
  packages/dashboard/app/(dashboard)/dashboard/layout.tsx
Labels: dashboard

↗ added redirect on deletion of logged in api key
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
Labels: dashboard

⚙ fixed utils tab
  packages/dashboard/lib/sidebar.ts
Labels: dashboard

🗓 added last used in api key list
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/lib/utils.ts
  packages/dashboard/types/apiKey.d.ts
Labels: dashboard

🔥 fixed toast not appearing
  packages/dashboard/app/layout.tsx
  packages/dashboard/components/Providers.tsx
Labels: dashboard
