Repository BRAVO68WEB/shx, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, dashboard

.github/labeler.yml:

api:
- packages/api/**/*

cli:
- packages/cli/**/*

dashboard:
- packages/dashboard/**/*

Removed `yarn.lock` from gitignore
  .gitignore
  yarn.lock
Labels: none

started with list layout
  packages/dashboard/app/(dashboard)/dashboard/layout.tsx
  packages/dashboard/app/(dashboard)/dashboard/page.tsx
  packages/dashboard/components/Lists/UploadsList/GridList.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Lists/UploadsList/index.tsx
  packages/dashboard/components/SidebarItems.tsx
  packages/dashboard/components/ui/Button.tsx
Labels: dashboard

initialised storybook
  packages/dashboard/.eslintrc.json
  packages/dashboard/.storybook/main.ts
  packages/dashboard/.storybook/preview.ts
  packages/dashboard/package.json
  packages/dashboard/stories/Button.stories.ts
  packages/dashboard/stories/Button.tsx
  packages/dashboard/stories/Header.stories.ts
  packages/dashboard/stories/Header.tsx
  packages/dashboard/stories/Introduction.mdx
  packages/dashboard/stories/Page.stories.ts
  packages/dashboard/stories/Page.tsx
  packages/dashboard/stories/assets/code-brackets.svg
  packages/dashboard/stories/assets/colors.svg
  packages/dashboard/stories/assets/comments.svg
  packages/dashboard/stories/assets/direction.svg
  packages/dashboard/stories/assets/flow.svg
  packages/dashboard/stories/assets/plugin.svg
  packages/dashboard/stories/assets/repo.svg
  packages/dashboard/stories/assets/stackalt.svg
  packages/dashboard/stories/button.css
  packages/dashboard/stories/header.css
  packages/dashboard/stories/page.css
Labels: dashboard

🪁: added Docker Compose Support
  packages/api/.env.example
  packages/api/Dockerfile
  packages/api/dbdump/dump.sql
  packages/api/docker-compose.yaml
  packages/api/helpers/gql_clent.ts
  packages/api/routes/index.ts
Labels: api

Fixes #16
  packages/api/.gitignore
  packages/api/package.json
  packages/api/services/upload.service.ts
  packages/api/uploads/_7Igi_nHGwQ0vRScphQ1IIpfs-logo-1024-ice-text.png
  yarn.lock
Labels: api

Fixes #15
  packages/api/index.ts
  packages/api/package.json
  yarn.lock
Labels: api

Create eslint.yml
  .github/workflows/eslint.yml
Labels: none

Fixes #14
  packages/api/services/upload.service.ts
Labels: api

Fixes GH Action Eslint Bug
  .github/workflows/eslint.yml
Labels: none

Added TODO GH Actions
  .github/workflows/todo.yaml
Labels: none

Added TODO GH Actions
  .github/workflows/todo.yaml
Labels: none

updated home page
  packages/dashboard/app/(auth)/login/page.tsx
  packages/dashboard/app/page.tsx
Labels: dashboard
