Repository BRAVO68WEB/shx, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, dashboard, discord, documentation, github-actions, github-meta, dependencies

.github/labeler.yml:

api:
- packages/api/**/*

cli:
- packages/cli/**/*

dashboard:
- packages/dashboard/**/*

discord:
- packages/discord/**/*

documentation:
- docs

github-actions:
- .github/workflows/*

github-meta:
- .github/**/*

dependencies:
- package.json
- yarn.lock
- packages/*/package.json

fixed toaster
  packages/dashboard/app/layout.tsx
  packages/dashboard/components/Providers.tsx
  yarn.lock
Labels: dashboard, dependencies

Added Metadata to APIKey API routes
  packages/api/controllers/apikey.controller.ts
  packages/api/interfaces/apikey.interface.d.ts
  packages/api/services/apikey.service.ts
Labels: api

Added Metadata to Gist API routes
  packages/api/controllers/gists.controller.ts
  packages/api/controllers/urlstore.controller.ts
  packages/api/services/gist.service.ts
Labels: api

Added Metadata to Gist API routes
  packages/api/interfaces/gists.interface.d.ts
Labels: api

Added Metadata to Upload API routes
  packages/api/controllers/upload.controller.ts
  packages/api/interfaces/upload.interface.d.ts
  packages/api/routes/upload.routes.ts
  packages/api/services/upload.service.ts
  packages/api/validators/upload.validation.ts
Labels: api

Added Metadata to URLStore API routes
  packages/api/interfaces/urlstore.interface.d.ts
  packages/api/services/urlstore.service.ts
  packages/api/validators/url.validation.ts
Labels: api

chore(deps): update
  yarn.lock
Labels: dependencies

⚙ modified sys info api
  packages/api/services/info.service.ts
Labels: api

chore: remove unused vars
  packages/api/services/apikey.service.ts
Labels: api

added markdown to dashboard homepage
  packages/dashboard/app/(dashboard)/dashboard/page.tsx
  packages/dashboard/app/globals.css
  packages/dashboard/components/Markdown.tsx
  packages/dashboard/package.json
  packages/dashboard/public/readme.html
  yarn.lock
Labels: dashboard, dependencies

removed unused readme file
  packages/dashboard/public/readme.html
Labels: dashboard

removed errors and warnings
  packages/dashboard/app/(dashboard)/dashboard/page.tsx
  packages/dashboard/components/Markdown.tsx
Labels: dashboard

moved markdown converter to the mardown component
  packages/dashboard/app/(dashboard)/dashboard/page.tsx
  packages/dashboard/components/Markdown.tsx
Labels: dashboard

added error page for dashboard
  packages/dashboard/app/(dashboard)/dashboard/error.tsx
Labels: dashboard

⚙ added error page for dashboard
  packages/dashboard/app/(dashboard)/dashboard/error.tsx
Labels: dashboard

⚙ updated api sdk
  packages/dashboard/api/settings.ts
Labels: dashboard

added redirect in notes list
  packages/dashboard/components/Lists/NotesList/index.tsx
Labels: dashboard

added note page and passkey validation
  packages/dashboard/api/notes.ts
  packages/dashboard/app/notes/[id]/NoteContent.tsx
  packages/dashboard/app/notes/[id]/loading.tsx
  packages/dashboard/app/notes/[id]/page.tsx
Labels: dashboard

✍ added copy button for notes link
  packages/dashboard/components/Lists/NotesList/index.tsx
Labels: dashboard

fixed copy note link
  packages/dashboard/components/Lists/NotesList/index.tsx
Labels: dashboard

changed redirect note to a new tab
  packages/dashboard/components/Lists/NotesList/index.tsx
Labels: dashboard

🚑 fixed note requires password when note is not private
  packages/dashboard/api/notes.ts
Labels: dashboard

removed edit note button
  packages/dashboard/components/Lists/NotesList/index.tsx
Labels: dashboard

removed instanceURL accept system
  packages/dashboard/api/index.ts
  packages/dashboard/app/(dashboard)/dashboard/layout.tsx
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
  packages/dashboard/components/LoginForm.tsx
  packages/dashboard/lib/validators/login.ts
Labels: dashboard

📑 : Added Wiki Docs
  docs/api.md
  docs/cli.md
  docs/dashboard.md
  docs/discord.md
  docs/footer.md
  docs/hello.md
  docs/homepage.md
  docs/installation-api.md
  docs/installation-cli.md
  docs/installation-dashboard.md
  docs/installation-discord.md
  docs/installation.md
  docs/intro.md
  docs/packages.md
Labels: none

⚙ : Reworked Config Gen
  packages/api/controllers/sxcu.controller.ts
  packages/api/routes/config.routes.ts
  packages/api/services/gist.service.ts
  packages/cli/package.json
  packages/discord/.env.example
  yarn.lock
Labels: api, cli, discord, dependencies

📑 : Added Wiki Docs
  docs/footer.md
  docs/homepage.md
  docs/installation.md
  docs/packages.md
Labels: none

added download link
  packages/dashboard/app/(dashboard)/dashboard/utilities/download-config/page.tsx
Labels: dashboard

removed instanceurl field in settings
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
Labels: dashboard

added remove tag
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
  packages/dashboard/components/TagInput.tsx
Labels: dashboard

integrated sys info api
  packages/dashboard/api/settings.ts
  packages/dashboard/app/(dashboard)/dashboard/utilities/instance-info/page.tsx
  packages/dashboard/types/settings.d.ts
Labels: dashboard

removed warnings
  packages/dashboard/api/notes.ts
  packages/dashboard/app/(dashboard)/dashboard/utilities/download-config/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
  packages/dashboard/components/Lists/NotesList/index.tsx
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
Labels: dashboard

fix: security patch fixes
  packages/discord/src/events/message-create.ts
  packages/discord/src/loaders/command.ts
Labels: discord

fix: security patch fixes
  packages/api/libs/middleware.ts
  packages/api/services/upload.service.ts
Labels: api
