Repository BRAVO68WEB/shx, pull requests merged in 2023-05, with the labels that each got.

#4 working on cli promptts
  .github/workflows/build-api.yaml
  .github/workflows/build-cli.yaml
  packages/api/controllers/apikey.controller.ts
  packages/api/dbdump/dump.sql
  packages/api/package.json
  packages/api/routes/apikey.routes.ts
  packages/api/services/apikey.service.ts
  packages/cli/package.json
  packages/cli/src/commands/config.ts
  packages/cli/src/commands/gist.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/commands/urlShrink.ts
  packages/cli/src/functions/config.ts
  packages/cli/src/functions/gist.ts
  packages/cli/src/functions/info.ts
  packages/cli/src/functions/shrink.ts
  packages/cli/src/functions/upload.ts
  packages/cli/src/libs/axios.ts
  packages/cli/src/shx.ts
  packages/cli/tsconfig.json
Labels: enhancement, feature, cli

#6 Adding Management routes + System Info
  packages/api/controllers/apikey.controller.ts
  packages/api/controllers/gists.controller.ts
  packages/api/controllers/info.controller.ts
  packages/api/controllers/upload.controller.ts
  packages/api/controllers/urlstore.controller.ts
  packages/api/data/uploader.service.ts
  packages/api/graphql/schema.graphql
  packages/api/hasura/metadata/databases/databases.yaml
  packages/api/hasura/migrations/default/1684991758327_alter_table_public_uploads_add_column_deleteToken/down.sql
  packages/api/hasura/migrations/default/1684991758327_alter_table_public_uploads_add_column_deleteToken/up.sql
  packages/api/package.json
  packages/api/routes/gist.routes.ts
  packages/api/routes/info.routes.ts
  packages/api/routes/upload.routes.ts
  packages/api/routes/url.routes.ts
  packages/api/services/gist.service.ts
  packages/api/services/info.service.ts
  packages/api/services/upload.service.ts
  packages/api/services/urlstore.service.ts
Labels: feature, api

#7 v1.1.0 release
  .github/workflows/build-api.yaml
  .github/workflows/build-cli.yaml
  packages/api/controllers/apikey.controller.ts
  packages/api/controllers/gists.controller.ts
  packages/api/controllers/info.controller.ts
  packages/api/controllers/upload.controller.ts
  packages/api/controllers/urlstore.controller.ts
  packages/api/data/uploader.service.ts
  packages/api/dbdump/dump.sql
  packages/api/graphql/schema.graphql
  packages/api/hasura/metadata/databases/databases.yaml
  packages/api/hasura/migrations/default/1684991758327_alter_table_public_uploads_add_column_deleteToken/down.sql
  packages/api/hasura/migrations/default/1684991758327_alter_table_public_uploads_add_column_deleteToken/up.sql
  packages/api/package.json
  packages/api/routes/apikey.routes.ts
  packages/api/routes/gist.routes.ts
  packages/api/routes/info.routes.ts
  packages/api/routes/upload.routes.ts
  packages/api/routes/url.routes.ts
  packages/api/services/apikey.service.ts
  packages/api/services/gist.service.ts
  packages/api/services/info.service.ts
  packages/api/services/upload.service.ts
  packages/api/services/urlstore.service.ts
  packages/cli/package.json
  packages/cli/src/commands/config.ts
  packages/cli/src/commands/gist.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/commands/urlShrink.ts
  packages/cli/src/functions/config.ts
  packages/cli/src/functions/gist.ts
  packages/cli/src/functions/info.ts
  packages/cli/src/functions/shrink.ts
  packages/cli/src/functions/upload.ts
  packages/cli/src/libs/axios.ts
  packages/cli/src/shx.ts
  packages/cli/tsconfig.json
Labels: release

#5 Started With Dashboard UI
  packages/dashboard/.eslintrc.json
  packages/dashboard/.gitignore
  packages/dashboard/.storybook/main.ts
  packages/dashboard/.storybook/preview.ts
  packages/dashboard/README.md
  packages/dashboard/app/(dashboard)/dashboard/layout.tsx
  packages/dashboard/app/(dashboard)/dashboard/page.tsx
  packages/dashboard/app/favicon.ico
  packages/dashboard/app/globals.css
  packages/dashboard/app/layout.tsx
  packages/dashboard/app/page.tsx
  packages/dashboard/components/Lists/UploadsList/GridList.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Lists/UploadsList/index.tsx
  packages/dashboard/components/LoginForm.tsx
  packages/dashboard/components/SidebarItems.tsx
  packages/dashboard/components/ui/Button.tsx
  packages/dashboard/lib/sidebar.ts
  packages/dashboard/lib/utils.ts
  packages/dashboard/next.config.js
  packages/dashboard/package.json
  packages/dashboard/postcss.config.js
  packages/dashboard/public/next.svg
  packages/dashboard/public/vercel.svg
  packages/dashboard/stories/Button.stories.ts
  packages/dashboard/stories/Button.tsx
  packages/dashboard/stories/Header.stories.ts
  packages/dashboard/stories/Header.tsx
  packages/dashboard/stories/Introduction.mdx
  packages/dashboard/stories/Page.stories.ts
  packages/dashboard/stories/Page.tsx
  packages/dashboard/stories/assets/code-brackets.svg
  packages/dashboard/stories/assets/colors.svg
  packages/dashboard/stories/assets/comments.svg
  packages/dashboard/stories/assets/direction.svg
  packages/dashboard/stories/assets/flow.svg
  packages/dashboard/stories/assets/plugin.svg
  packages/dashboard/stories/assets/repo.svg
  packages/dashboard/stories/assets/stackalt.svg
  packages/dashboard/stories/button.css
  packages/dashboard/stories/header.css
  packages/dashboard/stories/page.css
  packages/dashboard/tailwind.config.js
  packages/dashboard/tsconfig.json
  packages/dashboard/types/sidebar.d.ts
Labels: enhancement, feature, dashboard

#18 Docker Compose Support
  packages/api/.env.example
  packages/api/Dockerfile
  packages/api/dbdump/dump.sql
  packages/api/docker-compose.yaml
  packages/api/helpers/gql_clent.ts
  packages/api/routes/index.ts
Labels: api

#24 Fixes #16
  packages/api/.gitignore
  packages/api/package.json
  packages/api/services/upload.service.ts
  packages/api/uploads/_7Igi_nHGwQ0vRScphQ1IIpfs-logo-1024-ice-text.png
  yarn.lock
Labels: bug, enhancement, feature, api

#25 Fixes #15
  packages/api/index.ts
  packages/api/package.json
  yarn.lock
Labels: api

#27 Fixes GH Actions
  .github/workflows/eslint.yml
  .github/workflows/todo.yaml
Labels: enhancement

#26 Fixes #14
  packages/api/services/upload.service.ts
Labels: api

#30 fixed
  packages/cli/src/functions/upload.ts
  packages/dashboard/.eslintrc.json
  packages/dashboard/.gitignore
  packages/dashboard/.storybook/main.ts
  packages/dashboard/.storybook/preview.ts
  packages/dashboard/README.md
  packages/dashboard/app/(auth)/login/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/layout.tsx
  packages/dashboard/app/(dashboard)/dashboard/page.tsx
  packages/dashboard/app/favicon.ico
  packages/dashboard/app/globals.css
  packages/dashboard/app/layout.tsx
  packages/dashboard/app/page.tsx
  packages/dashboard/components/Lists/UploadsList/GridList.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Lists/UploadsList/index.tsx
  packages/dashboard/components/LoginForm.tsx
  packages/dashboard/components/SidebarItems.tsx
  packages/dashboard/components/ui/Button.tsx
  packages/dashboard/lib/sidebar.ts
  packages/dashboard/lib/utils.ts
  packages/dashboard/next.config.js
  packages/dashboard/package.json
  packages/dashboard/postcss.config.js
  packages/dashboard/public/next.svg
  packages/dashboard/public/vercel.svg
  packages/dashboard/stories/Introduction.mdx
  packages/dashboard/stories/assets/code-brackets.svg
  packages/dashboard/stories/assets/colors.svg
  packages/dashboard/stories/assets/comments.svg
  packages/dashboard/stories/assets/direction.svg
  packages/dashboard/stories/assets/flow.svg
  packages/dashboard/stories/assets/plugin.svg
  packages/dashboard/stories/assets/repo.svg
  packages/dashboard/stories/assets/stackalt.svg
  packages/dashboard/tailwind.config.js
  packages/dashboard/tsconfig.json
  packages/dashboard/types/sidebar.d.ts
  yarn.lock
Labels: cli, dashboard

#31 TODO: Added Checklist
  packages/api/configs/index.ts
  packages/api/controllers/apikey.controller.ts
  packages/api/helpers/cache.factory.ts
  packages/api/helpers/upload.factory.ts
  packages/api/index.ts
  packages/api/interfaces/apikey.interface.d.ts
  packages/api/libs/middleware.ts
Labels: api

#37 GH Updates
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/pr-badge.yml
  .github/pr-branch-labeler.yml
  .github/workflows/apply-done-label.yaml
  .github/workflows/auto-tag-pr.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/wiki-docs-sync.yaml
  docs/hello.md
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/dashboard/package.json
Labels: cli, api, dashboard

#40 🛅: Added API Key encap + Reworked on API Key Delete Methods
  packages/api/controllers/apikey.controller.ts
  packages/api/libs/utilities.ts
  packages/api/services/apikey.service.ts
Labels: api

#41 🧼: Sanitize File Name
  packages/api/helpers/upload.factory.ts
Labels: api

#42 ⚙️: Added `settings` api
  packages/api/controllers/config.controller.ts
  packages/api/helpers/cache.factory.ts
  packages/api/helpers/upload.factory.ts
  packages/api/index.ts
  packages/api/interfaces/config.interface.d.ts
  packages/api/routes/settings.routes.ts
  packages/api/services/config.service.ts
  packages/api/services/upload.service.ts
Labels: api

#43 Readme Update
  README.md
Labels: documentation
