Repository BRAVO68WEB/shx, pull requests merged in 2023-06, with the labels that each got.

#46 📢: Added winston logger
  packages/api/helpers/cache.factory.ts
  packages/api/helpers/gql_clent.ts
  packages/api/index.ts
  packages/api/libs/customErrHandler.ts
  packages/api/libs/utilities.ts
  packages/api/package.json
  packages/api/routes/index.ts
  packages/api/services/config.service.ts
  packages/api/services/upload.service.ts
  yarn.lock
Labels: api

#47 🧩: Added Joi Validation Support
  packages/api/configs/index.ts
  packages/api/controllers/gists.controller.ts
  packages/api/interfaces/message.enums.ts
  packages/api/libs/middleware.ts
  packages/api/routes/apikey.routes.ts
  packages/api/routes/gist.routes.ts
  packages/api/routes/settings.routes.ts
  packages/api/routes/upload.routes.ts
  packages/api/routes/url.routes.ts
  packages/api/validators/apikey.validation.ts
  packages/api/validators/gist.validation.ts
  packages/api/validators/settings.validation.ts
  packages/api/validators/upload.validation.ts
  packages/api/validators/url.validation.ts
Labels: api

#50 Added New Ui Components and pages to the dashboard
  packages/dashboard/app/(dashboard)/dashboard/layout.tsx
  packages/dashboard/app/(dashboard)/dashboard/notes/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/uploads/page.tsx
  packages/dashboard/components/Lists/NotesList/index.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/LoginForm.tsx
  packages/dashboard/components/Notes.tsx
  packages/dashboard/components/ui/Button.tsx
  packages/dashboard/components/ui/Input.tsx
  packages/dashboard/components/ui/TextArea.tsx
  packages/dashboard/lib/sidebar.ts
  packages/dashboard/lib/validators/notes.ts
  packages/dashboard/package.json
  yarn.lock
Labels: dashboard

#57 Fix/ts interfaces
  packages/api/codegen.yml
  packages/api/controllers/apikey.controller.ts
  packages/api/controllers/config.controller.ts
  packages/api/controllers/gists.controller.ts
  packages/api/controllers/info.controller.ts
  packages/api/controllers/sxcu.controller.ts
  packages/api/controllers/upload.controller.ts
  packages/api/controllers/urlstore.controller.ts
  packages/api/data/uploader.service.ts
  packages/api/graphql/types.ts
  packages/api/interfaces/apikey.interface.d.ts
  packages/api/interfaces/config.interface.d.ts
  packages/api/interfaces/gists.interface.d.ts
  packages/api/interfaces/hasura.interface.d.ts
  packages/api/interfaces/sxcu.interface.d.ts
  packages/api/interfaces/upload.interface.d.ts
  packages/api/interfaces/urlstore.interface.d.ts
  packages/api/libs/utilities.ts
  packages/api/package.json
  packages/api/services/apikey.service.ts
  packages/api/services/config.service.ts
  packages/api/services/gist.service.ts
  packages/api/services/upload.service.ts
  packages/api/services/urlstore.service.ts
  packages/api/types/index.d.ts
  packages/api/validators/settings.validation.ts
  packages/api/validators/upload.validation.ts
  yarn.lock
Labels: api

#59 branch sync
  packages/api/codegen.yml
  packages/api/controllers/apikey.controller.ts
  packages/api/controllers/config.controller.ts
  packages/api/controllers/gists.controller.ts
  packages/api/controllers/info.controller.ts
  packages/api/controllers/sxcu.controller.ts
  packages/api/controllers/upload.controller.ts
  packages/api/controllers/urlstore.controller.ts
  packages/api/data/uploader.service.ts
  packages/api/graphql/types.ts
  packages/api/interfaces/apikey.interface.d.ts
  packages/api/interfaces/config.interface.d.ts
  packages/api/interfaces/gists.interface.d.ts
  packages/api/interfaces/hasura.interface.d.ts
  packages/api/interfaces/sxcu.interface.d.ts
  packages/api/interfaces/upload.interface.d.ts
  packages/api/interfaces/urlstore.interface.d.ts
  packages/api/libs/utilities.ts
  packages/api/package.json
  packages/api/services/apikey.service.ts
  packages/api/services/config.service.ts
  packages/api/services/gist.service.ts
  packages/api/services/upload.service.ts
  packages/api/services/urlstore.service.ts
  yarn.lock
Labels: api

#60 Discord Bot as supporting Endpoint
  .github/labeler.yml
  .github/workflows/build-dashboard.yaml
  .github/workflows/build-discord-bot.yaml
  .github/workflows/test-builds-bot.yaml
  packages/discord/Dockerfile
  packages/discord/docker-compose.yaml
Labels: enhancement, feature, dependencies, discord, github-actions, github-meta

#61 Patch Fixes
  packages/api/Dockerfile
  packages/discord/config/bot.json
  packages/discord/config/music.json
  packages/discord/package.json
  packages/discord/src/commands/message/general/botinfo.ts
  packages/discord/src/commands/message/general/channelinfo.ts
  packages/discord/src/commands/message/general/help.ts
  packages/discord/src/commands/message/general/invite.ts
  packages/discord/src/commands/message/general/serverinfo.ts
  packages/discord/src/commands/slash/help.ts
  packages/discord/src/commands/slash/list-apikey.ts
  packages/discord/src/events/interaction-create.ts
  packages/discord/src/events/message-create.ts
  packages/discord/src/loaders/command.ts
  packages/discord/src/utils/patterns.ts
  packages/discord/src/validate-env.ts
  yarn.lock
Labels: api, dependencies, discord

#58 Updated UI
  .eslintrc
  packages/dashboard/components/Lists/UploadsList/GridList.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Lists/UploadsList/UploadsControls.tsx
  packages/dashboard/components/Lists/UploadsList/index.tsx
  packages/dashboard/components/Modal.tsx
  packages/dashboard/components/Notes.tsx
  packages/dashboard/package.json
  packages/dashboard/types/uploads.d.ts
  yarn.lock
Labels: dashboard, dependencies

#69 Added ui for api key list
  packages/dashboard/app/(dashboard)/dashboard/apiKeys/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/notes/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/uploads/page.tsx
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
  packages/dashboard/lib/sidebar.ts
Labels: dashboard

#71 added demo data
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
Labels: dashboard

#73 added new page for url shortener
  packages/dashboard/.eslintrc.json
  packages/dashboard/app/(dashboard)/dashboard/url/page.tsx
  packages/dashboard/components/Lists/ShortenUrlList/URLControls.tsx
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
  packages/dashboard/components/ui/Input.tsx
  packages/dashboard/lib/sidebar.ts
Labels: dashboard

#83 Issue 75 instance info section
  packages/dashboard/app/(dashboard)/dashboard/utilities/instance-info/page.tsx
  packages/dashboard/lib/sidebar.ts
Labels: dashboard

#85 Feature/download config UI
  packages/dashboard/app/(dashboard)/dashboard/utilities/download-config/page.tsx
Labels: dashboard

#87 Feature/api sdk
  packages/dashboard/api/index.ts
  packages/dashboard/api/uploads.ts
  packages/dashboard/app/layout.tsx
  packages/dashboard/types/uploads.d.ts
Labels: dashboard

#91 Bug Fix for #90
  packages/api/validators/gist.validation.ts
Labels: api

#92 chores fixes
  .vscode/settings.json
  packages/discord/src/events/message-create.ts
  sonar-project.properties
Labels: discord

#94 feat: Added API Key last used attribute in API
  packages/api/dbdump/dump.sql
  packages/api/graphql/schema.graphql
  packages/api/graphql/types.ts
  packages/api/libs/utilities.ts
  packages/api/package.json
  packages/api/services/apikey.service.ts
  yarn.lock
Labels: api, dependencies

#95 feat: use zod to read and parse config
  packages/api/configs/index.ts
  packages/api/data/uploader.service.ts
  packages/api/helpers/cache.factory.ts
  packages/api/helpers/gql_clent.ts
  packages/api/index.ts
  packages/api/interfaces/config.interface.d.ts
  packages/api/libs/middleware.ts
  packages/api/package.json
  packages/api/services/apikey.service.ts
  packages/api/services/upload.service.ts
  yarn.lock
Labels: api, dependencies

#96 chore(bump): update dependencies
  package.json
  packages/cli/tsconfig.json
  yarn.lock
Labels: cli, dependencies

#97 PatchFix for Joi errors
  packages/api/validators/apikey.validation.ts
  packages/api/validators/gist.validation.ts
  packages/api/validators/settings.validation.ts
  packages/api/validators/upload.validation.ts
  packages/api/validators/url.validation.ts
Labels: api

#101 👷 fixing apikey revoke server crash
  packages/api/controllers/apikey.controller.ts
Labels: bug, api

#99 Feature/api integration
  packages/dashboard/api/apiKeys.ts
  packages/dashboard/api/index.ts
  packages/dashboard/api/notes.ts
  packages/dashboard/api/settings.ts
  packages/dashboard/api/uploads.ts
  packages/dashboard/api/url.ts
  packages/dashboard/app/(dashboard)/dashboard/apiKeys/error.tsx
  packages/dashboard/app/(dashboard)/dashboard/apiKeys/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/notes/error.tsx
  packages/dashboard/app/(dashboard)/dashboard/notes/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/uploads/error.tsx
  packages/dashboard/app/(dashboard)/dashboard/uploads/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/url/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/error.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
  packages/dashboard/app/layout.tsx
  packages/dashboard/app/page.tsx
  packages/dashboard/components/ComingSoon.tsx
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
  packages/dashboard/components/Lists/NotesList/index.tsx
  packages/dashboard/components/Lists/ShortenUrlList/URLControls.tsx
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
  packages/dashboard/components/Lists/UploadsList/GridList.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/Lists/UploadsList/UploadsControls.tsx
  packages/dashboard/components/Lists/UploadsList/index.tsx
  packages/dashboard/components/LoginForm.tsx
  packages/dashboard/components/Notes.tsx
  packages/dashboard/hooks/useDebounce.ts
  packages/dashboard/lib/validators/login.ts
  packages/dashboard/lib/validators/notes.ts
  packages/dashboard/package.json
  packages/dashboard/types/apiKey.d.ts
  packages/dashboard/types/list.ts
  packages/dashboard/types/notes.d.ts
  packages/dashboard/types/settings.d.ts
  packages/dashboard/types/url.d.ts
  yarn.lock
Labels: dashboard, dependencies

#104 ⚙ modified sys info api
  packages/api/services/info.service.ts
Labels: api

#105 Feat/meta pagenation api
  packages/api/controllers/apikey.controller.ts
  packages/api/controllers/gists.controller.ts
  packages/api/controllers/upload.controller.ts
  packages/api/controllers/urlstore.controller.ts
  packages/api/interfaces/apikey.interface.d.ts
  packages/api/interfaces/gists.interface.d.ts
  packages/api/interfaces/upload.interface.d.ts
  packages/api/interfaces/urlstore.interface.d.ts
  packages/api/routes/upload.routes.ts
  packages/api/services/apikey.service.ts
  packages/api/services/gist.service.ts
  packages/api/services/upload.service.ts
  packages/api/services/urlstore.service.ts
  packages/api/validators/upload.validation.ts
  packages/api/validators/url.validation.ts
  yarn.lock
Labels: api, dependencies

#108 Feat/patch fix n docs
  docs/api.md
  docs/cli.md
  docs/dashboard.md
  docs/discord.md
  docs/footer.md
  docs/hello.md
  docs/homepage.md
  docs/installation-api.md
  docs/installation-cli.md
  docs/installation-dashboard.md
  docs/installation-discord.md
  docs/installation.md
  docs/intro.md
  docs/packages.md
  packages/api/controllers/sxcu.controller.ts
  packages/api/routes/config.routes.ts
  packages/api/services/gist.service.ts
  packages/cli/package.json
  packages/discord/.env.example
  yarn.lock
Labels: cli, api, dependencies

#109 Feature/api integration
  packages/dashboard/api/index.ts
  packages/dashboard/api/notes.ts
  packages/dashboard/api/settings.ts
  packages/dashboard/app/(dashboard)/dashboard/error.tsx
  packages/dashboard/app/(dashboard)/dashboard/layout.tsx
  packages/dashboard/app/(dashboard)/dashboard/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/download-config/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/instance-info/page.tsx
  packages/dashboard/app/(dashboard)/dashboard/utilities/settings/page.tsx
  packages/dashboard/app/globals.css
  packages/dashboard/app/layout.tsx
  packages/dashboard/app/notes/[id]/NoteContent.tsx
  packages/dashboard/app/notes/[id]/loading.tsx
  packages/dashboard/app/notes/[id]/page.tsx
  packages/dashboard/components/Lists/ApiKeyList/index.tsx
  packages/dashboard/components/Lists/NotesList/index.tsx
  packages/dashboard/components/Lists/ShortenUrlList/index.tsx
  packages/dashboard/components/Lists/UploadsList/LinearList.tsx
  packages/dashboard/components/LoginForm.tsx
  packages/dashboard/components/Markdown.tsx
  packages/dashboard/components/Providers.tsx
  packages/dashboard/components/TagInput.tsx
  packages/dashboard/lib/sidebar.ts
  packages/dashboard/lib/utils.ts
  packages/dashboard/lib/validators/login.ts
  packages/dashboard/package.json
  packages/dashboard/types/apiKey.d.ts
  packages/dashboard/types/settings.d.ts
  yarn.lock
Labels: dashboard, dependencies

#115 Patch/fix
  packages/api/libs/middleware.ts
  packages/api/services/upload.service.ts
  packages/discord/src/events/message-create.ts
  packages/discord/src/loaders/command.ts
Labels: api, discord
